<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <title>twitter</title>
</head>
<style>
    
</style>
<body>
    <div>
        {% for post in posts %}
        <div class="border feed_box">
            <div class="feed_content">
                <p class="feed_txt"> <b> {{ post.user_id }} </b> {{ post.content }}</p>
              </div>
            <div class="feed_like">
              <p class="feed_txt"> <b>좋아요 {{ post.like_count }}개</b> <button>❤️</button></p>
              
            </div>
          </div>
        {% endfor %}
    </div>
</body>
</html>